body{
    font-family:Arial, sans-serif;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.container{
    background-color: rgb(138, 130, 130);
    width:400px;
    padding:20px;
    border-radius:10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

h1{
    text-align: center;
    margin-bottom: 20px;
}
#question{
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
}
.option{
    padding:10px;
    margin-bottom:10px;
    border:1px solid whitesmoke;
    border-radius:5px;
    cursor:pointer;
    transition:background-color 0.3s;
}

.option:hover{
    background-color: rgb(241, 210, 210);
}
.option.selected{
    background-color: purple;
    border-color:green
}

#submit-btn{
    width:100%;
    padding:10px;
    background-color: black;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}
#submit-btn:hover{
    background-color: rgb(0, 0, 0);
}
#result {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

#prev-btn,
#next-btn {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: gray;
  color: white;
}

#next-btn {
  background-color: rgb(19, 160, 19);
}

#prev-btn:disabled,
#next-btn:disabled {
  opacity: 0.5;
  cursor: pointer;
}
#feedback {
  margin-top: 10px;
}

.correct {
  color: green;
}

.wrong {
  color: red;
}